html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  background-color: gray;
  height: 100%;
}

.table-border {
  width: 80%;
  margin: 10px 10%;
  border: 3px solid black;
}

.divider {
  display: flex;
  width: 99%;
}
.divider::before, .divider::after {
  content: "";
  flex: 1;
}

.title {
  align-items: stretch;
  height: 2em;
  line-height: 2em;
  color: red;
  background: black;
  transform: skew(-10deg);
  font-weight: bold;
  font-family: 'Fira Sans', sans-serif;
  font-size: 60px;
}
.title::before {
    background: linear-gradient(to right, gray, black);
}
  
.title::after {
    background: linear-gradient(to left, gray, black);
}

.line {
  align-items: center;
  margin: 15px 0em;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}
.line::before {
    height: 1px;
    margin: 0 1em 0 0;
    width: 100%;
}
.line::after {
  height: 1px;
  margin: 0 0 0 1em;
  width: 100%;
}

.one-line:before, .one-line:after {
  background: rgb(56, 56, 56);
}

.razor::before {
  box-shadow: 0 0.5px 0 black;
}
.razor::after {
  box-shadow: 0 0.5px 0 black;
}

.glow::before, .glow::after {
  height: 6px;
  -webkit-filter: blur(5px);
  border-radius: 5px;
}
.glow::before {
  background: linear-gradient(to right, blue, hotpink);
}
.glow::after {
  background: linear-gradient(to left, blue, hotpink);
}

.logreg {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: white;
  background-color: darkslateblue;
}
.logreg-link {
  color: white;
}
.logreg-link:hover, .navlink:hover, .gamelink:hover {
  color: black;
}

.nav {
  display: flex;
  margin: 0px 10%;
  padding-top: 25px;
  justify-content: space-between;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

.navlink, .gamelink {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.gamelink {
  text-decoration: underline;
}

.form-container {
  margin: 10px 10%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}

.hLine {
  border: 3px solid black;
  background: black;
  width: 80%;
  margin: 10px 10%;
  opacity: 1;
  justify-self: center;
}

.game-font {
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.nav-line {
  border: 2px solid rgb(56, 56, 56);
  width: 100%;
  background-color: rgb(56, 56, 56);
}

.home-line {
  display: inline;
  width: 300px;
  border: 3px solid black;
  background: black;
  opacity: 1;
  margin: auto;
  margin-bottom: 1rem;
}

.red-text {
  color: red;
  margin-top: 5px;
}

.active {
  text-decoration: none;
  color: black;
}

.game-info {
  width: fit-content;
  justify-content: start;
}

.game-details {
  width: 60%;
  margin: 0 20%;
}